  <%-include("partials/header");-%>

  <title>Manage Events | Thapar Amateur Astronomers Society</title>

  <!-- Local Stylesheet -->
  <link rel="stylesheet" href="css/admin/manage-events.css">
  </head>

  <body>
    <!-- Navbar -->
    <%-include("../partials/navbar");-%>

    <section id="title">
      <h3></h3>
    </section>

    <!-- Circular Progress Indicator -->
    <%-include("../partials/circular-progress");-%>

    <!-- Footer -->
    <%-include("../partials/footer");-%>

    <!-- Local Script -->
    <script src="scripts/admin/manage-events.js" charset="utf-8"></script>

    <!-- AOS Script -->
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>

    <script type="text/javascript">
      AOS.init();   // AOS Initialization
    </script>
  </body>
</html>
