<!-- Navbar -->
<nav class="my-nav flex">
  <a class="taas-brand" href="/">
    <div>
      <img class="logo" src="images/taas-logo.png" alt="logo" />
      <span>MANAGE | Thapar Amateur Astronomers Society</span>
    </div>
  </a>

  <div class="tilted-box"></div>
  <div class="tilted-line"></div>

  <div class="nav-main-section">
    <ul>
      <li class="navbar-item">
        <a class="navbar-link" href="/">
          <i class="fas fa-home"></i>
          HOME
        </a>
      </li>

      <li class="navbar-item about-item">
        <a class="navbar-link" href="/about"><i class="fas fa-info-circle"></i> ABOUT</a>
      </li>

      <li class="navbar-item events-item">
        <a class="navbar-link" href=""><i class="fas fa-glass-cheers"></i> EVENTS</a>
      </li>

      <li class="navbar-item gallery-item">
        <a class="navbar-link" href=""><i class="far fa-images"></i> GALLERY</a>
      </li>

      <li class="navbar-item blog-item">
        <a class="navbar-link" href=""><i class="fas fa-blog"></i> BLOG</a>
      </li>

      <li class="navbar-item team-item">
        <a class="navbar-link" id="teamDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-users"></i> TEAM <i class="fas fa-caret-down"></i>
        </a>
        <div class="dropdown-menu" aria-labelledby="teamDropdown">
          <a class="dropdown-item" href="">Executive Board</a>
          <a class="dropdown-item" href="/core-members">Core Members</a>
          <a class="dropdown-item" href="">Members</a>
          <a class="dropdown-item" href="">Alumni</a>
        </div>
      </li>

      <li class="navbar-item contact-item">
        <a class="navbar-link" href=""><i class="fas fa-phone"></i> CONTACT</a>
      </li>

      <li class="navbar-item more-item dropdown">
        <a class="more-link" id="moreDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-ellipsis-v"></i>
        </a>
        <div class="dropdown-menu more-dropdown dropright" aria-labelledby="moreDropdown">
          <a class="dropdown-item" href="">Events</a>
          <a class="dropdown-item" href="">Gallery</a>
          <a class="dropdown-item" href="">Blog</a>
          <div class="team-dropdown dropdown">
            <a class="dropdown-item" href="" id="moreTeamDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              TEAM <i class="fas fa-caret-right"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="moreTeamDropdown">
              <a class="dropdown-item" href="">Executive Board</a>
              <a class="dropdown-item" href="/core-members">Core Members</a>
              <a class="dropdown-item" href="">Members</a>
              <a class="dropdown-item" href="">Alumni</a>
            </div>
          </div>
          <a class="gallery-nav dropdown-item" href="">Contact</a>
        </div>
      </li>
    </ul>
  </div>

  <div class="social-links">
    <div class="social-link">
      <a href="https://www.facebook.com/TAAS.Astronomers" target="_blank" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Like us on Facebook"><i class="fab fa-facebook-f"></i></a>
    </div>
    <div class="social-link">
      <a href="https://www.youtube.com/channel/UCn3L-wvn-BjSHnn-URDX0cQ" target="_blank" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Subscribe us on Youtube"><i class="fab fa-youtube"></i></a>
    </div>
    <div class="social-link">
      <a href="https://www.instagram.com/taas.astronomers/" target="_blank" data-toggle="popover" data-trigger="hover" data-placement="bottom" data-content="Follow us on Instagram"><i class="fab fa-instagram"></i></a>
    </div>
  </div>

  <div class="nav-last-section">

    <div class="search">
      <i class="fas fa-search"></i>
    </div>

    <!-- <div class="sign-in">
      <i class="fas fa-user-alt"></i>
    </div> -->

  </div>

  <buttton class="hamburger" type="button">
    <div class="line1">
    </div>
    <div class="line2">
    </div>
    <div class="line3">
    </div>
    </button>

</nav>
