<footer id="footer">
  <div class="contact-us">
    <div class="contact-row row">
      <div class="contact-column col-lg-4">
        <h3>Email</h3>
        <p>Uncertainty is never appreciated, clear your doubts at</p>
        <i class="fas fa-envelope"></i>
        <a class="default-transition" href="mailto:taas.astronomers@thapar.edu" target="_blank">taas.astronomers@thapar.edu</a><br /><br />
        <i class="fas fa-phone"></i>
        <p>9899678702 (Abhishek Verma)</p>
      </div>

      <div class="contact-column col-lg-4">
        <h3>Social Media</h3>
        <ul>
          <li>
            <a href="https://www.facebook.com/TAAS.Astronomers" target="_blank">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span class="fab fa-facebook-f"></span>
            </a>
          </li>

          <li>
            <a href="https://www.youtube.com/channel/UCn3L-wvn-BjSHnn-URDX0cQ" target="_blank">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span class="fab fa-youtube"></span>
            </a>
          </li>

          <li>
            <a href="https://www.instagram.com/taas.astronomers/" target="_blank">
              <span></span>
              <span></span>
              <span></span>
              <span></span>
              <span class="fab fa-instagram"></span>
            </a>
          </li>
        </ul>
      </div>

      <div class="contact-column col-lg-4">
        <h3>Address</h3>
        <p>Any Reproduction MUST be accompanied by a reference to</p>
        <i class="fas fa-map-marker-alt"></i>
        <a class="default-transition" href="https://maps.app.goo.gl/W168zw9dntHhz6sY6" target="_blank">Thapar Institute of Engineering and Technology, Patiala, Punjab 147004, India</a>
      </div>
    </div>

    <hr />

    <p class="rights">Copyright © 2021 <a class="default-transition" href="/">Thapar Amateur Astronomers Society – TAAS</a></p>
  </div>
</footer>
